<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'rental/style.css' %}">

</head>
<body>
 <div class="change-password-page">
    <h2>Change Password</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Password</button>
    </form>

    <p class="back-link"><a href="{% url 'rental:dashboard' %}">Back to Dashboard</a></p>
 </div>
</body>
</html>
