<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rental/style.css' %}">
</head>
<body>
 <div class="register-page">
    <h1>Register for Car Rental</h1>

    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </p>
        <p>
            {{ form.email.label_tag }}<br>
            <input type="email" name="email" required placeholder="Enter a valid email (e.g. user@mail.com)">
        </p>
        </p>
        <p>
            {{ form.password1.label_tag }}<br>
            <input type="password" name="password1" required
                   pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}"
                   title="Password must be at least 5 characters long and contain both letters and numbers"
                   placeholder="Min 5 chars, include letters and numbers">
        </p>
        <p>
            {{ form.password2.label_tag }}<br>
            <input type="password" name="password2" required placeholder="Confirm password">
        </p>
        <p>
            {{ form.role.label_tag }}<br>
            {{ form.role }}
        </p>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
 </div>
</body>
</html>
